### The Data
This book will try to develop an algorithm to identify an atoms nearby functional groups, that is, in CH3-CH2-OH the H atoms in CH3 are part of a CH3-group, neigherst neighbor are CH2 followed by OH.

Note: this book will only consider data from the following csv files: train, test and structures

In [18]:
import pandas as pd

input_folder = './input'

train = pd.read_csv(f'{input_folder}/train.csv')
structures = pd.read_csv(f'{input_folder}/structures.csv')

In [2]:
f'Train shape: {train.shape}'

'Train shape: (4658147, 6)'

In [3]:
f'Structures shape: {structures.shape}'

'Structures shape: (2358657, 6)'

In [4]:
print(f"There are {train['type'].nunique()} unique coupling types: {train['type'].unique()}")

There are 8 unique coupling types: ['1JHC' '2JHH' '1JHN' '2JHN' '2JHC' '3JHH' '3JHC' '3JHN']

#### Merging data sources into one training data set and one test data set 

Code for joining data is from this kernel: https://www.kaggle.com/seriousran/just-speed-up-calculate-distance-from-benchmark

In [19]:
# OK
def map_atom_info(df, atom_idx):
    df = pd.merge(df, structures, how = 'left',
                  left_on  = ['molecule_name', f'atom_index_{atom_idx}'],
                  right_on = ['molecule_name',  'atom_index'])
    
    df = df.rename(columns={'atom': f'atom_{atom_idx}',
                            'x': f'x_{atom_idx}',
                            'y': f'y_{atom_idx}',
                            'z': f'z_{atom_idx}'})
    return df

In [20]:
# OK
train = map_atom_info(train, 0)
train = map_atom_info(train, 1)

In [61]:
train_new.loc[train_new['molecule_name'] == 'dsgdb9nsd_000230']

,id,molecule_name,atom_index_0,atom_index_1,type,atom_index_x,atom_0,atom_index_y,atom_1
4188,4193.0,dsgdb9nsd_000230,8.0,0.0,1JHC,8.0,H,0,C
4186,4186.0,dsgdb9nsd_000230,6.0,0.0,1JHC,6.0,H,0,C
4187,4190.0,dsgdb9nsd_000230,7.0,0.0,1JHC,7.0,H,0,C
4204,4196.0,dsgdb9nsd_000230,9.0,3.0,1JHC,9.0,H,3,C
4228,4228.0,dsgdb9nsd_000230,15.0,5.0,1JHC,15.0,H,5,C
4229,4234.0,dsgdb9nsd_000230,16.0,5.0,1JHC,16.0,H,5,C
4230,4239.0,dsgdb9nsd_000230,17.0,5.0,1JHC,17.0,H,5,C
4659318,NaN,dsgdb9nsd_000230,NaN,NaN,NaN,NaN,NaN,1,O
4659319,NaN,dsgdb9nsd_000230,NaN,NaN,NaN,NaN,NaN,6,H
4659320,NaN,dsgdb9nsd_000230,NaN,NaN,NaN,NaN,NaN,9,H
4659321,NaN,dsgdb9nsd_000230,NaN,NaN,NaN,NaN,NaN,12,H
4659322,NaN,dsgdb9nsd_000230,NaN,NaN,NaN,NaN,NaN,15,H
4206,4207.0,dsgdb9nsd_000230,11.0,3.0,1JHC,11.0,H,3,C
4205,4202.0,dsgdb9nsd_000230,10.0,3.0,1JHC,10.0,H,3,C
4216,4212.0,dsgdb9nsd_000230,12.0,4.0,1JHC,12.0,H,4,C
4217,4218.0,dsgdb9nsd_000230,13.0,4.0,1JHC,13.0,H,4,C
4218,4223.0,dsgdb9nsd_000230,14.0,4.0,1JHC,14.0,H,4,C

### Molecules as SMILES

### Functional Groups
#### List of Functional Groups we will classify by